body {
    margin: 20px;
    background-color: #ffeead;
}

h1 {
    font-size: 100px;
}

.container {
    display: grid;
    grid-gap: 3px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 40px auto 40 px;

}

header {
    grid-column: 1 / -1;
    background-color: darkgoldenrod;
}

nav {
    grid-column: 1 / 2;
    background-color: blue;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    display: inline;
}

li a {
    display: block;
    color: white;
    padding: 8px 0 8px 16px;
    text-decoration: none;
    border-bottom: 1px solid #555;
}

a:hover {
    background-color: aqua;
    color: black;
}

main {
    grid-column: 2 / -1;
    background-color: blueviolet;
}

footer {
    grid-column: 1 / -1;
    background-color: tomato;
}




